{% extends "base.twig" %}

{% block page %}
    <div class="container main-container">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Articles</h3>

                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control pull-right"
                                       placeholder="Search">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Categories</th>
                                <th>Tags</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th style="width: 110px">Actions</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>Title1</td>
                                <td>Author1</td>
                                <td>Categories1</td>
                                <td>Tags1</td>
                                <td>Date1</td>
                                <td>Status1</td>
                                <td>
                                    <a class="btn btn-info" href="#">
                                        <i class="fa fa-edit fa-fw" aria-hidden="true"></i>
                                    </a>
                                    <a class="btn btn-danger" href="#">
                                        <i class="fa fa-trash-o fa-fw" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Title2</td>
                                <td>Author2</td>
                                <td>Categories2</td>
                                <td>Tags2</td>
                                <td>Date2</td>
                                <td>Status2</td>
                                <td>
                                    <a class="btn btn-info" href="#">
                                        <i class="fa fa-edit fa-fw" aria-hidden="true"></i>
                                    </a>
                                    <a class="btn btn-danger" href="#">
                                        <i class="fa fa-trash-o fa-fw" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Title3</td>
                                <td>Author3</td>
                                <td>Categories3</td>
                                <td>Tags3</td>
                                <td>Date3</td>
                                <td>Status3</td>
                                <td>
                                    <a class="btn btn-info" href="#">
                                        <i class="fa fa-edit fa-fw" aria-hidden="true"></i>
                                    </a>
                                    <a class="btn btn-danger" href="#">
                                        <i class="fa fa-trash-o fa-fw" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}